  *{
    margin: 0;padding: 0;overflow: hidden;
}
body{
    background-color: bisque;
}
.container{
    width: 100vw;
    height: 100vh;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.myimage{
    height: 30px;
}
.navitem{
    display: flex;
    gap: 50px;
}
button{
    display: flex;
    border-radius: 23px;
    padding: 10px 30px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgb(7, 75, 13);
    color: antiquewhite;

}
.firstsection{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px 30px;
}
.image{
    border-radius: 20px;
    background-image: url(whatsApp/MaaBeti.png);
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
}
